@import "compass/css3";

header {
  width: 37.5em;
  margin: 2em auto;
}
 
.logo {
  background: url('lalibela.jpg') no-repeat;
  background-size: 30%;
  float:left;
  width:100%;
  height: 80em;
  font-family: Baskerville;
  color: #fdfcfc;
  position: relative;
}

.laura, .javery, .ampersand {
    font-size: 1em;
    text-align: center;
}

.laura {
  position: absolute;
  top: 220px;
  left: 225px;
}

.Milli {
	position: absolute;
	top: 40px;
	left: 210px;
	
}

.javery {
  position: absolute;
  top: 275px;
  left: 165px;  
}

.ampersand {
  font-style: italic; 
  position: absolute;
  top: 250px;
  left: 185px;
}

date {
   border-top: 1px solid #490eed;
   border-bottom: 1px solid #490eed;
  position: absolute;
  top: 305px;
  left: 225px
}

button {
	position: absolute;
    top: 240px;
    left: 40px;
    width: 100px;
    background-color: #000305;
    color: rgb(255, 255, 255);
    font-size: 6px;
}

a{
	color: aliceblue;
}
