body {
  font: 1.3rem sans-serif;
  padding: 0.5em;
  margin: 0;
  background: rgb(59, 42, 40) url(agent.jpeg) no-repeat center center fixed;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: Garamond, "Times New Roman", serif;
}

form {
  color: rgb(253, 253, 253);
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 2em;
  box-sizing: border-box;
  text-align: center;
}

input {
  background-color: #dae2ec;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-family: Garamond, "Times New Roman", serif;
  font-size: medium;
}
input:hover {
  background-color: #4daec8;
  margin-bottom: 10px;
}

label {
  color: rgb(14, 16, 128);
  font-family: Garamond, "Times New Roman", serif;
  font-weight: bold;
}

header {
  color: rgb(14, 16, 128);
}

#statement {
  color: rgb(14, 16, 128);
}

button {
  color: rgb(14, 16, 128);
  background-color: grey;
  font-size: 20px;
  font-family: Garamond, "Times New Roman", serif;
  width: 250px;
  border-radius: 12px;
  border: 2px solid #f7faf7;
  margin: 3px;
  font-weight: bold;
}

button:hover {
  background-color: #010d11;
  color: antiquewhite;
  font-size: 20px;
  width: 250px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(14, 16, 128);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

#allocate {
  color: rgb(14, 16, 128);
  background-color: grey;
  font-weight: bold;
}

#allocate:hover {
  color: rgb(14, 16, 128);
  background-color: antiquewhite;
}
